<div class="row">
	<a href="{{ site.baseurl }}"> 
		<img class="logo" src="{{ site.baseurl }}/assets/images/anglican_logo.png" height="30px" align="bottom"> 
		<span class="title">
			Anglican
		</span>
		</a>
    <ul class="nav nav-pills pull-right">
      {% for link in site.navigation %}
      <li {% if page.url == link.url %}class="active"{% endif %}>
        <a href="{{ site.baseurl }}{{link.url}}" title="{{link.title}}">{{link.text}}</a>
      </li>
      <!-- class="active"><a href="/">About</a></li> -->
      <!-- <li><a href="/projects">Projects</a></li> -->
      <!-- <li><a href="/publications">Publications</a></li> -->
      {% endfor %}
    </ul>
</div>

<script>
  $()
</script>
